[Unit]
Description=Flush ClickHouse Spooled Writes Every Minute
Requires=clickhouse-spool-flush.service

[Timer]
OnCalendar=*:*:00
Persistent=true
AccuracySec=1s

[Install]
WantedBy=timers.target
